@import '~antd/dist/antd.dark.css';

.layout-content {
    min-height: 280px;
    padding: 24px;
}
.logo {
    font-size: 20px;
    color: rgba(0, 128, 255, 1);
    float: left;
    margin-right: 20px;
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
