.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
.logo {
    font-size: 20px;
    color: rgba(0, 128, 255, 1);
    float: left;
    margin-right: 20px;
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
[data-theme="dark"] .site-layout-content {
    background: #141414;
}