<!-- Copyright 2021 Changkun Ou. All rights reserved.
Use of this source code is governed by a MIT
license that can be found in the LICENSE file. -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>redir - Contact</title>
<style>
html, body {
    font-family: sans-serif, monospace;
    background-color: #333;
    overflow: hidden;
}
body {
    color: #aaa;
    margin: 30px 40px 30px;
}
a {
    text-decoration: none;
    color: #aaa;
}
a:visited {
    color: #aaa;
}
a:hover {
    color: #3c9ae8;
}
footer {
    position: absolute;
    bottom: 2%;
}
</style>
</head>
<body>

<h1>About <strong><a href="/s">redir</a></strong></h1>

<p>The <strong><a href="/s">redir</a></strong> is a link shortener for self-hosted purpose.</p>

<p><strong><a href="/s">redir</a></strong> is created by Changkun Ou<sup>[1]</sup>, and open sourced under MIT license<sup>[2]</sup> on GitHub<sup>[3]</sup>.</p>

<p>For liability purpose, please visit the <a href="/s/.impressum">impressum</a> from the user of <a href="/s">redir</a>.</p>

<h2>References</h2>
<p>[1] Changkun Ou: <a href="mailto:{{.Email}}">{{.Email}}</a></p>
<p>[2] MIT license: <a href="https://github.com/changkun/redir/blob/main/LICENSE">https://github.com/changkun/redir/blob/main/LICENSE</a></p>
<p>[3] Github: <a href="https://github.com/changkun/redir">https://github.com/changkun/redir</a></p>

<footer>
{{ if .ShowImpressum }}
<a href="/s/.impressum">Impressum</a>&nbsp;&nbsp;
{{ end }}
{{ if .ShowPrivacy }}
<a href="/s/.privacy">Privacy</a>&nbsp;&nbsp;
{{ end }}
{{ if .ShowContact }}
<a href="/s/.contact">Contact</a><br/><br/>
{{ end }}
<a href="/s">redir</a> &copy; 2021 Created by Changkun Ou.
</footer>
</body>
</html>