@import '~antd/dist/antd.dark.css';

body {
  background-color: #1f1f1f;
}
.ant-layout-header {
  background-color: #1f1f1f;
}
.ant-layout-content {
  background-color: #262626;
}
.ant-layout-footer {
  background-color: #262626;
}
.ant-card-body {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
tr.ant-table-expanded-row > td, tr.ant-table-expanded-row:hover > td {
  background: rgb(20, 20, 20);
}